altgraph==0.17.4
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.1
cryptograpy==0.0.0
Django==5.0.1
django-embed-video==1.4.9
easy-thumbnails==2.8.5
fuzzywuzzy==0.18.0
idna==3.6
Levenshtein==0.25.1
packaging==24.0
paperclip==2.7.2
pillow==10.2.0
pycparser==2.21
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pyperclip==1.8.2
python-Levenshtein==0.25.1
python-magic==0.4.27
rapidfuzz==3.9.0
requests==2.31.0
sqlparse==0.4.4
urllib3==2.2.0
